asgiref==3.5.0
astroid==2.9.3
botocore==1.23.54
cement==2.8.2
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.3
da-vinci==0.3.0
distlib==0.3.4
Django==4.0.2
django-admin-thumbnails==0.2.6
django-crispy-forms==1.14.0
django-filter==21.1
django-thumbnails==0.7.0
djangorestframework==3.13.1
djangorestframework-jsonapi==5.0.0
djangorestframework-simplejwt==5.1.0
filelock==3.6.0
future==0.16.0
idna==3.3
inflection==0.5.1
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
lazy-object-proxy==1.7.1
MarkupSafe==2.0.1
mccabe==0.6.1
mysql-connector-python==8.0.27
pathspec==0.9.0
Pillow==9.0.1
platformdirs==2.4.1
protobuf==3.19.3
PyJWT==2.3.0
pylint==2.12.2
pypiwin32==223
python-dateutil==2.8.2
python-decouple==3.6
pytz==2021.1
pywin32==304
PyYAML==5.4.1
requests==2.26.0
semantic-version==2.8.5
sendmail==2.0
shortuuid==1.0.8
six==1.14.0
sqlparse==0.4.2
termcolor==1.1.0
toml==0.10.2
tzdata==2021.5
urllib3==1.26.9
wcwidth==0.1.9
Werkzeug==2.0.2
wrapt==1.13.3
