{% load static %}
<header class="section-header">    
    <section class="header-main border-bottom bg-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-3 col-6">
                    <a href="{% url 'home' %}" class="brand-wrap">
                        <div class="row align-items-center">
                            <img class="logo" src="{% static './images/logo.png'%}" style="width: 200px;background-size: contain;">
                        </div>    
                    </a> <!-- brand-wrap.// -->
                </div>
                <div class="col-lg col-sm col-md col-6 flex-grow-0">
                    <div class="category-wrap dropdown d-inline-block float-right ">
                        <audio id="myAudio">
                            <source  src="{% static './images/zing002.wav' %}" type="audio/wav">                     
                        </audio> 
                        <button type="button" class="btn btn-success dropdown-toggle"  onclick="playAudio()" data-toggle="dropdown">         

                            <i class="fa fa-bars"></i> Products
                        </button>
                        <div class="dropdown-menu">
                            {% for category in links %}
                                <a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }} </a>
                            {% endfor %}
                        </div>
                    </div>  <!-- category-wrap.// -->
                </div> <!-- col.// -->
                <div class="col-lg  col-md-6 col-sm-12 col">
                    <form action="{% url 'search' %}" class="search" method="GET">
                        <div class="input-group w-100">
                            <input type="text" class="form-control" style="width:60%;" placeholder="Search" name="keyword" required>
                            
                            <div class="input-group-append">
                            <button class="btn btn-success" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                            </div>
                        </div>
                    </form> <!-- search-wrap .end// -->
                </div> <!-- col.// -->
                <!-- Store Button -->
                <div style="margin: 10px;">
                    <a href="{% url 'store' %}" class="btn btn-warning">Store</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
                            <div class="d-flex justify-content-end mb-3 mb-lg-0">
                                {% if user.id is None %}
                                <div>
                                    <small class="title text-black">Welcome guest!</small>
                                    <div > 
                                        <!-- <a class="text-black" onMouseOver="this.style.color='rgb(12, 246, 12)'"onMouseOut="this.style.color='black'"  href="{% url 'login' %}">Sign in</a> <span class="text-gray"> | </span>
                                        <a class="text-black" onMouseOver="this.style.color='rgb(12, 246, 12)'"onMouseOut="this.style.color='black'"  href="{% url 'register' %}">Register</a> -->
                                        <a href="{% url 'login' %}">Sign in</a> <span class="text-gray"> | </span>
                                        <a href="{% url 'register' %}">Register</a>
                                    </div>
                                </div>
                                {% else %}
                                <div>
                                    <small class="title text-black">Welcome {{ user.first_name }}!</small>
                                    <div> 
                                        <a class="text-black" href="{% url 'dashboard' %}">Dashboard</a> <span class="text-gray"> | </span>
                                        <a class="text-black" href="{% url 'logout' %}"> Logout</a>
                                    </div>
                                </div>
                                {% endif %}
                                <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
                                    <!-- <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"  onMouseOver="this.style.color='rgb(0, 181, 23)'"onMouseOut="this.style.color='black'"  ></i></div> -->
                                    <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart" ></i></div>
                                    <span class="badge badge-pill badge-danger notify">{{ cart_count }}</span>
                                </a>
                            </div> <!-- widgets-wrap.// -->
                </div> <!-- col.// -->
            </div> <!-- row.// -->
    </div> <!-- container.// -->
    </section> <!-- header-main .// -->       
    
    <nav class="navbar p-md-0 navbar-expand-sm bg-success border-bottom">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-white" id="navbarTop4">
            <ul class="navbar-nav mr-auto">
               
               
            </ul>
            <ul class="navbar-nav">
                <li><a href="mailto:nick.dev.testing@gmail.com" class="nav-link text-white"> <i class="fa fa-envelope"></i> Email </a></li>
                <li><a href="tel:2103729050" class="nav-link text-white"> <i class="fa fa-phone"></i> Call us </a></li>
            </ul> 
          </div> <!-- navbar-collapse .// -->
        </div> <!-- container //  -->
        </nav>
</header> <!-- section-header.// -->

<script>
    var x = document.getElementById("myAudio"); 
    
    function playAudio() { 
      x.play(); 
    } 
                
</script>