/* Hide Radio button  */
.rate > input{
    display: none;
}

.rate{
    display: inline-block;
    border: 0;
}

.rate > label{
    float: right;
}

/* Showing the stars */
.rate > label::before{
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem .2rem;
    cursor: pointer;
}

/* Half star rating */
.rate .half:before{
    content: "\f089";
    position: absolute;
    padding-right: 0;
}

/* Click and hover */
input:checked ~ label, label:hover ~ label{
    color: #ffb503;
}

/* Hover Highlight */
input:checked + label:hover, input:checked ~ label:hover, input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label{
    color: #cc9000;
}

.rating-star i{
    color: #cc9000 !important;
}

/* Change NavBar shoping cart icon on hover */
 .fa-shopping-cart:hover{
    color:#4CAF50 !important;
 }
 .fa-shopping-cart-o:hover{
    color:#4CAF50 !important;
 }

/* Change Paginator Color */
.pagination {
display: inline-block;
}

.pagination a {
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
}

.pagination a.active {
background-color: #4CAF50 ;
color: white;
border-radius: 5px;
}

.pagination a:hover:not(.active) {
background-color: #4CAF50;
border-radius: 5px;
}
