{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="text-align: center;">
    <h1>GREEN SPEEDSTER RETURNS POLICY</h1><br>
    <h3>REFUNDS</h3>
    <P>Refunds are processed by the same method of payment used for the original purchase. All debit and credit card refunds can only be made to the card used for the original transaction, cheque payments will be refunded in cash but due to banking and clearance restrictions can only be refunded 14 days after the purchase date.</P>
    <h3>STORE PURCHASES</h3><br>
    <p>Should you be unhappy with a purchase from one of our stores, please return the goods with proof of purchase within 7 days for a full refund, or within 14 days for a credit note. Any items can be returned to any Cycles UK store, providing they are returned in their original condition – unused (unless the goods are faulty). We regret we cannot refund special orders or cycle purchases.</p>
    <h3>MAIL ORDER RETURNS</h3><br>
    <p>At GREEN SPEEDSTER, we pride ourselves on excellent customer service and aim to ensure our customers are 100% happy with their purchase. In the unlikely event that you are not, please feel free to return your goods within 90 days of receipt of them, with proof of purchase for a full exchange or refund. All items can be returned to us providing they are returned in their original condition – unused (unless the goods are faulty). All Mail order purchases must be returned by the customer to our head office address unless arranged otherwise. Depending on the reasons for returning an item, postal charges could apply.</p>
    <h3>RETURNING YOUR ORDER </h3><br>
    <p>Small items such as clothing, lights etc can be returned using the Royal Mail tracked service for free. (Excludes bikes and bulkier items and parcels over 2KG for UK use only)

        Please print off the Royal Mail label, and attach it to your parcel.​
        Click here to print off a label https://www.royalmail.com/track-my-return/create/718.
        Note when asking for an *Order ID or reference you need to enter the invoice ID
        Add a quick note to your package with your contact details and let us know whether you want a refund or exchange.
        Take your parcel to any Post Office. Remember to ask for proof of return receipt.
        The return can be tracked using the tracking reference from your receipt atwww.royalmail.com/track-trace.
        We aim to complete returns in 7 working days (excluding weekends and bank holidays).
        We'll send you an email informing you that the refund or exchange is complete.
        Any refund will automatically be issued to the payment method you used to place your original order. This typically takes 5 working days in the UK, depending on your payment method issuer.
        We endeavour to accept all returns, and they don't need to be in the original box or bag, as long as they're securely packed. If an item is returned in an unsuitable condition, we will send it back to you</p>
    <h3>RETURNS OVER 2KG (INCLUDING BIKES)</h3><br>
    <p>It is your responsibility to return any items to us in their original and unused condition. You can return items to any of our stores or send them to our warehouse. If you need us to arrange a courier collection for you then there is a charge on larger items.</p>
    <h3>ACCESSORIES OVER 2KG</h3><br>
    <p>If we have sent you the incorrect item, or the item is faulty, then we will collect free of charge.
If you have changed your mind about an item after delivery and need us to arrange a courier collection for you then we charge £10 within the UK. Our courier will bring a label, but it is your responsibility to make sure that the item is correctly packaged. We will normally deduct the £10 fee from the refund once goods are received back.</p>
    <h3>BIKES</h3><br>
    <p>If we have sent you the incorrect bike, or the bike is faulty, then we will collect free of charge.

        If you have changed your mind about a bike after delivery and need us to arrange a courier collection for you then we charge £60 within the UK. Our courier will bring a label, but it is your responsibility to make sure that the bike is correctly packaged.
        
        Any bikes being returned need to be unused. If the bike has been ridden we may apply a cleaning charge depending on the condition of the bike.</p>

</div>


{% endblock %}