{% extends 'base.html' %}
{% load static %}


{% block content %}
    <section class="section-name padding-y-sm ">
        <div class="container">
            <h1><b> Terms and Conditions </b></h1>

            <br> 

            <p>These Terms and Conditions govern your use of the Simple Bike Store service and website. By visiting the Simple Bike Store website, you accept, and agree to, the content of these Terms and Conditions. We reserve the right to change the Terms and Conditions at any time and it is your responsibility to check regularly before ordering. This does not affect your statutory rights.</p>

            <h2>Terms of Service</h2>
            <p>By placing an order via our website (www.simplebikestore.eu), you are offering to purchase a product on and subject to the following terms and conditions. All orders are subject to availability and confirmation of the order price.
            
            Dispatch times may vary according to availability and any guarantees or representations made as to delivery times are subject to any delays resulting from postal delays or force majeure for which we will not be responsible.
            
            In order to contract with Simple Bike Store, you must be over 18 years of age. Simple Bike Store retains the right to refuse any request made by you. If your order is accepted, we will inform you by email and we will confirm the identity of the party which you have contracted with. This will usually be Simple Bike Store or may in some cases be a third party. Where a contract is made with a third-party Simple Bike Store is not acting as either agent or principal and the contract is made between yourself and that third party and will be subject to the terms of sale which they supply you. When placing an order you undertake that all details you provide to us are true and accurate, that you are an authorized user of the credit or debit card, or bank account used to place your order and that there are sufficient funds to cover the cost of the goods. The cost of international products and services may fluctuate. All prices advertised are subject to such changes.</p>
            
            <h2>Our Contract</h2>
            <p>When you place an order, you will receive an acknowledgement e-mail confirming receipt of your order. This email will only be an acknowledgement and will not constitute acceptance of your order. Simple Bike Store retains the right to accept or reject this offer before processing the order. A contract between us for the purchase of the goods will not be formed until your payment has been approved by us, the prices have been verified, and the order has been processed and dispatched. A second email will be sent confirming these arrangements.</p>
            
            <h2>Pricing and Availability</h2>
            <p>Whilst we try and ensure that all details, descriptions and prices which appear on this website are accurate, errors may occur. If we discover an error in the price of any goods which you have ordered we will inform you of this as soon as possible and give you the option of reconfirming your order at the correct price or cancelling it. If we are unable to contact you, we will treat the order as cancelled. If you cancel and you have already paid for the goods, you will receive a full refund. Where applicable, prices are inclusive of VAT. Delivery costs will be charged in addition; such additional charges are clearly displayed where applicable and included in the 'Total Amount'.
            
            The website may contain typographical errors or other errors or inaccuracies and may not be complete or current. We therefore reserve the right to correct any errors, inaccuracies or omissions and to change or update information at any time without prior notice. We reserve the right to refuse to fulfil any orders that you may place based on information on the website that may contain errors or inaccuracies, including, without limitation, errors, inaccuracies or out-of-date information regarding pricing, shipping, payment terms, or return policies.</p>
                
            <h2>Pre Orders</h2>
            
            <p>Accepted Pre-Orders where payment has been received are binding. At Simple Bike Store, we immediately transfer said funds to our supplier to ensure and secure pre-ordered goods. In the case of the customer requesting to cancel the pre-order, a 15% cancellation fee will be held of the good’s price (Shipping costs excl.). All transaction fees that may have applied are non-refundable.</p>
            
            <h2>Cancellation and Returns</h2>
            
            <p>Returns are accepted within 14 days pursuant to the following conditions:</p>
            
            <p>Item must be in new condition with original packaging.
            You must have a sales receipt.
            Refund method is left to our discretion (cash, card or store credit).
            General stock items are subject to a 5% restocking fee if original payment method was via debit/credit card.
            Special order items are subject to up to a 50% restocking fee.
            Bicycles and Frames are subject to up to a 20% restocking fee.
            All or part of the restocking fee may be waived if you elect to take a store credit instead of a refund.
            Payments made via PayPal are subject to a 3,9% transaction fee, which in case of a refund will not be refunded. To avoid this, we suggest using alternative payment methods.
            Returns are NOT accepted on the following items:</p>
            
            <p>Labor / services / rentals (if there’s an issue, please talk to us!).
            Consumables such as batteries, snacks, drinks, energy bars, etc.
            Items that show wear or abuse.
            Clothing with tags removed including gloves, hats, shirts, etc.
            Used parts, closeout items, as well as ex-display models.
            Any employee of Simple Bike Store can refuse a return at their discretion until manager approval is obtained.
            These limitations do not apply to defective items or items eligible for warranty. All warranties are pursuant to the respective manufacturer’s policies.<p>
            
            <h2>Warranties are honored pursuant to manufacturer policies and the following conditions:</h2>
            
            <p>Please download our Claim Form here, and send it to us at info@simplebikestore.eu
            Please write the Order number in the subject!
            You are required to provide proof of purchase and purchase date.
            We do not warranty items that are customer supplied. For example, if you bring us a new wheel to install, we’ll warranty the labor but not your wheel.
            We will objectively evaluate warranty issues and contact the manufacturer on your behalf. It is up to the manufacturer to honor their warranty based on the information we provide them. We’re on your side, within reason.
            Manufacturer warranties generally only apply to normal use. Any abuse or crash damage is generally not covered.
            In most cases other than bicycles we’ll replace the item on the spot if we believe the item to be defective and we’ll contact the manufacturer later so you don’t have to wait on them. This does not apply to special ordered items or items which we normally don’t stock.
            Fair Purchase Policy
            At Simple Bike Store, we buy from our suppliers with an agreement to sell to our private customers. It is not in our business model to sell items in bulk quantities to other retailers or bicycle manufacturers. We reserve the right to refuse or cancel any orders which we suspect are beyond the requirements for an individual or club arrangement. If you have any questions on this matter, or wish to consult us before making a large purchase, please contact us using following tab Contact Us</p>
            
            <h2>Dispute Resolution</h2>
            <p>Online dispute resolution for consumer pursuant to Section 14.1 of Regulation (EU) 524/2013
            
            The European Commission provides a platform for online dispute resolution which is available at the following link: http://ec.europa.eu/consumers/odr/</p>
            
            <h2>Product Specifications and Suitability</h2>
            
            <p>Published product details, specifications and suitability information is the best available at the time. Simple Bike Store shall not be held responsible for the accuracy of any advice given regarding the suitability (or otherwise) of any part/s required for the repair of an item. If you have ordered an item that has an unsuitable product description, we will remedy this by providing you a full refund upon the return of the item. Please see our Delivery and Returns page for details.
            
            We encourage you to ensure all spare parts are fitted by a competent person in accordance with manufacturer specifications. Simple Bike Store cannot be held liable for any damage caused by the fitting of a spare part.
            
            Please ensure that you have read your warranty conditions before attempting to install a part or otherwise repair item. Simple Bike Store cannot be held responsible if the item is damaged or your warranty is voided. Some manufacturer guarantees may be on condition that you use a qualified cycle technician.</p>
            
            <h2>Availability / Estimated Delivery Times</h2>
            
            <p>We do our best to ensure availability of all advertised products and endeavor to dispatch all parts within the quoted time. If there is a delay, we will inform you of this via email and the product will be dispatched as soon as it is available. If you have ordered multiple items they may arrive separately.
            
            Simple Bike Store has no liability to you for any delay in the delivery of products ordered. We will do our best to get all orders sent out as quickly as possible.
            
            Occasionally we find ourselves having to withdraw an item because it has become obsolete or has been discontinued. If you have placed an order for an item that has been made obsolete, we will inform you as soon as possible and offer you an alternative if one is available.</p>
            
            <h2>Governed Law</h2>
            
            <p>Simple Bike Store Terms and Conditions shall be governed by and construed in accordance with Dutch Law. Disputes arising in connection with these Terms shall be subject to the exclusive jurisdiction of the Dutch courts.</p>
            
            <h2>Recycling</h2>
            
            <p>Simple Bike Store is considerate of the environment and is pleased to comply with the EU Waste Electrical and Electronic Equipment (WEEE) Regulations 2006. There is a requirement on each Member State under Article 2 of the Directive to minimize the disposal of WEEE as unsorted municipal waste and to achieve a high level of collection of WEEE for treatment, recovery and environmentally sound disposal.
            
            Simple Bike Store will take back on a new-for-old basis any old electronic item from you. Spare parts are not covered by this and we are not able to take back spares. If you are purchasing a new appliance from us and wish to send us the old one please send it to:</p>
            
            <p>Returns, Simple Bike Store,
            Van Oldenbarneveltstraat 132, 3012 GW
            Rotterdam
            The Netherlands</p>
            
            <p>You must return the item to us within 14 days of purchasing the new item. Payment of postage for the return of the item is your responsibility.</p>
            
            <h2>Reviews and Comments</h2>
            
            <p>We encourage you to leave reviews, comments and product questions on our website. We regularly monitor this content and we reserve the right to remove, reject or edit it at any time. When submitting information to our website as a review, product question or customer comment you understand that what you have submitted is not copyright protected and you are permitting its appearance on the Simple Bike Store website.</p>
            
            <h2>Liability</h2>
            
            <p> We shall not be liable for incidental or consequential damages or expenses. This includes, but is not limited to, damage to property, lost income, profits, economic or commercial losses and third parties’ claims.
            
            We will do our best to get all orders dispatched as quickly as possible. We have no liability to you for any delay in the delivery of products ordered.
            
            This warranty does not affect your statutory rights.</p>
            
            <h2>Privacy, Copyright and Disclaimer</h2>
            
            <p>We will never sell or pass on your name and address to any other organization without your consent. Your details are confidential and you will never receive unsolicited mail as a result of ordering from Simple Bike Store.
            
            Simple Bike Store maintains a strict privacy policy in full accordance with the Data Protection Act 1998.
            
            We expect you to maintain the confidentiality of your username and password for your Simple Bike Store account.
            
            All content included in this site, text and graphics (including copyright), is owned and controlled by Simple Bike Store. In accessing the Simple Bike Store web pages, you agree that you may only download the content for your own individual and non-commercial use. You are not permitted to copy, broadcast, download, store, transmit, show or play in public, adapt or change in any way the content of these Simple Bike Store pages for any other purpose whatsoever, in any medium, without the prior written permission of Simple Bike Store.</p>
            
            <h2>Finalization of Contract</h2>
            <p>The presentation of products in this online shop does not represent a legally binding offer but a non-binding online catalogue. By clicking on the button ‘Buy’ / ‘Order and Pay’, you place a binding order for the products in your shopping basket. We send you a confirmation of receipt of your order by automated e-mail when receiving the order straight after it is placed. With this e-mail, the purchase agreement comes into effect.</p>
            
            <h2>Copyright</h2>
            
            <p>Unless otherwise stated, all rights, including copyright, in the content of these Simple Bike Store web pages are owned and controlled for these purposes by Simple Bike Store.
            
            In accessing Simple Bike Store web pages, you agree that you may only download the content for your own individual and non-commercial use.
            
            You are not permitted to copy, broadcast, download, store, transmit, show or play in public, adapt or change in any way the content of these Simple Bike Store pages for any other purpose whatsoever, in any medium, without the prior written permission of Simple Bike Store.</p>
            
            <h2>Exceptions and Acknowledgments</h2>
            
            <p>Feel free to use small quotes as long as you acknowledge our site and provide a link back to the original source.</p>
            
            <h2>Email When in Stock: Terms and Conditions</h2>
            <p>When you sign up for the 'Email When in Stock' service, you ask Simple Bike Store to send you an email when your selected item is back in stock. We will try our best, but
            
            We cannot guarantee that you will receive an email notifying you when your chosen product is in stock.
            
            The email is a notification, not a reservation; it’s not a guarantee that the product will still be available when you attempt to purchase. Given that it’s likely a sold-out product will be a popular one, we suggest that you act quickly to avoid disappointment. </p>

        </div>
    </section>
{% endblock %}